* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
* ::before,
::after {
  box-sizing: border-box;
}

<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
  > #html {
  word-break: break-all;
}
#div1 {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}

#div1::before {
  content: "";
  display: block;
  position: absolute;
}

#div1::after {
  content: "";
  display: block;
  position: absolute;
}
@media (max-width: 500px) {
  #html {
    height: 60vh;
    overflow: auto;
    word-break: break-all;
  }
  #div1Wrapper {
    height: 30vh;
  }
  #div1 {
    position: relative;
    top: 50px;
    transform: translateX(50%);
    right: 0;
  }
}
